.hip-hop-graph{
    // max-width: 1110px;
    margin: 0 auto;
    // background: #222;
    // overflow: hidden;
    //padding: 30px;
  }
  // #playerlist{
  //   width: 100%;
  //   max-width: 250px;
  //   float: left;
  // }
  #playerlist ul{
    padding-left: 0;
    list-style-type: none;
  }
  #playerlist ul li{
    padding-left: 0;
    list-style-type: none;
  }
  