<div class="chat-panel card card-default">
    <div class="card-header" style="background-color: #e2e2e2; font-weight: bold;">
        <i class="fa fa-id-card fa-fw"></i>
        Snippets
    </div>
    <!-- /.panel-heading -->
    <div class="card-body">
        <ul class="chat" style="list-style: none;">
            <li class="left clearfix">
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">LG</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                        </small>
                    </div>
                    <p>
                        Brand2 has acted as a newcomer for the North region.
                    </p>
                </div>
            </li>
            <li class="left clearfix" style="background-color: #82CDFF; padding: 10px;">
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Onida</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 14 mins ago
                        </small>
                    </div>
                    <p>
                        Brand3 has replaced Brand4 as the market leader for North region.
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Sony</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 14 mins ago
                        </small>
                    </div>
                    <p>
                        Brand4 looks for some gain in the Mobile category.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>