<!-- 
<div>
     <form name="form" [formGroup]="form" #dashboardForm = "ngForm">
        <div class="row">
            <div class="col-md-4"><h2 class="text-muted">Data Utility</h2></div>
            <div class="col-md-4"></div>
            <div class="col-md-4" style="display:none;">
                <button  id="btnPopup1"  (click)="open(content)"></button>                                             
            </div>
            <hr />
            <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
          
            </div>
            <div class="row">
                <div class="col-lg-12">
               <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
                </div>       
            </div>
             </form> 
            </div> -->